<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article 1</title>
    <link rel="stylesheet" href="/css/faqPage.css" />
  </head>
  <script>
    // Function to go back to the previous page when the back button is clicked
    document.addEventListener("DOMContentLoaded", function () {
      // Get the userId and petOwnerId from local storage
      const userId = localStorage.getItem("userId");
      const petOwnerId = localStorage.getItem("petOwnerId");

      const backButton = document.getElementById("backButton");

      backButton.addEventListener("click", function () {
        window.history.back();
      });

      const profileLink = document.getElementById("profileLink");
      const logoLink = document.getElementById("logoLink");

      if (profileLink) {
        profileLink.addEventListener("click", function () {
          window.location.href = "/petOwnerProfile?petOwnerId=" + petOwnerId;
        });
      }

      if (logoLink) {
        logoLink.addEventListener("click", function () {
          window.location.href =
            "/petOwnerWelcome?userId=" + userId + "&petOwnerId=" + petOwnerId;
        });
      }
    });
  </script>
  <body>
    <div class="header">
      <a id="logoLink">
        <img src="/images/logo.png" alt="Logo" class="logo" />
      </a>
      <a class="profile-link" id="profileLink">
        <img src="/images/profile.png" alt="Profile" class="profile-icon" />
      </a>
    </div>
      
    <!-- Back button to go to the previous page -->
    <button class="back-button" id="backButton">Back</button>
  </body>
</html>
