<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script>
        function processLogin(event) {
            event.preventDefault(); // Prevent the default form submission

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            // Retrieve user data from localStorage
            const storedEmail = localStorage.getItem("email");
            const storedPassword = localStorage.getItem("password");

            if (email === storedEmail && password === storedPassword) {
                // If the credentials match, check the profile type
                const profileType = localStorage.getItem("profileType");
                if (profileType === "VETERINARIAN") {
                    window.location.href = "/vetDashboard";
                } else if (profileType === "USER") {
                    window.location.href = "/userDashboard";
                }
            } else {
                alert("Invalid email or password.");
            }
        }
    </script>
</head>
<body>

<div class="header">
    <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <a href="login" class="profile-link">
        <img src="/images/profile.png" alt="Profile" class="profile-icon">
    </a>
</div>

<div class="container">
    <h1>Login</h1>
    <div class="form-container">
        <form onsubmit="processLogin(event);">
            <label for="email">Email<span>*</span></label>
            <input type="text" id="email" name="email" autocomplete="email" required>

            <label for="password">Password<span>*</span></label>
            <input type="password" id="password" name="password" autocomplete="current-password" required>

            <div class="forgot-password">
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit">Login</button>

            <div class="register-link">
                <span>Not registered yet? <a href="register">Create an account!</a></span>
            </div>
        </form>
    </div>
</div>

</body>
</html>
