<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Owner Welcome Page</title>
        <link rel="stylesheet" href="/css/ownerWelcome.css" />
    </head>
<body>
    <div class="header">
        <a href="/">
          <img src="/images/logo.png" alt="Logo" class="logo" />
        </a>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#pets">Pets</a></li>
            <li><a href="#art&vid">Articles & Videos</a></li>
            <li><a href="#consultation">Consultation</a></li>
            <li><a href="#prescriptions">Prescriptions</a></li>
            <li><a href="#faq">FAQ</a></li>
        </ul>
    </div>

    <div class="welcome-text">
        <h1>Welcome John Johnny Jr.</h1>
        <div class="appointment-header">
            <h2>Upcoming Appointment</h2>
            <button class="schedule-btn">Schedule New Appointment</button>
        </div>
            
    </div>
      
    <div class="appointment-container">
        <h4>Appointment Type: General Clinical Consultation</h4>
        <h4>Pet: Johnny (Male Chihuahua - Cream)</h4>
        <h4>Date: 2 September 2024</h4>
        <h4>Time: 11:00 AM</h4>
        <h4>Veterinarian: Dr Jude Bellingham</h4>
        
        <div class="appointment-actions">
            <button class="reschedule-btn">Reschedule</button>
            <button class="cancel-btn">Cancel</button>
        </div>
        
    </div>
</body>
</html>