<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Pet Profile</title>
    <link rel="stylesheet" href="/css/petProfile.css" />
    <script></script>
  </head>
  <body>
    <div class="header">
      <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo" />
      </a>
      <a href="/" class="profile-link">
        <img src="/images/profile.png" alt="Profile" class="profile-icon" />
      </a>
    </div>

    <div class="container">
      <h1>Pet Profile</h1>

      <!-- View Mode for Pet Information -->
      <div id="viewPetInfoMode">
        <div class="pet-profile-card">
          <div class="pet-info-box">
            <div class="pet-info-header">
              Pet Information
              <img
                src="/images/edit-icon.png"
                class="edit-icon"
                onclick="editPetInfo()"
                alt="Edit"
              />
            </div>
            <div class="pet-info-content">
              <div class="pet-picture">
                <img
                  id="pet-picture"
                  src="/images/pet-placeholder.jpeg"
                  alt="Pet Picture"
                />
              </div>
              <div class="pet-details">
                <p>
                  <strong>Pet Name:</strong> <span th:text="${pet.name}"></span>
                </p>
                <p>
                  <strong>Birth Date: </strong>
                  <span th:text="${pet.birthDate}"></span>
                </p>
                <p>
                  <strong>Species: </strong>
                  <span th:text="${pet.species}"></span>
                </p>
                <p>
                  <strong>Breed: </strong>
                  <span th:text="${pet.breed}"></span>
                </p>
                <p>
                  <strong>Gender: </strong>
                  <span th:text="${pet.gender}"></span>
                </p>
                <p>
                  <strong>Weight: </strong>
                  <span th:text="${pet.weight}"></span>
                  kg
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Mode for Pet Information -->
      <div id="editPetInfoMode" class="hidden">
        <form
          id="petProfileForm"
          enctype="multipart/form-data"
          onsubmit="savePetProfile(); return false;"
        >
          <div class="pet-profile-card">
            <div class="pet-info-box">
              <div class="pet-info-header">Edit Pet Information</div>
              <div class="pet-info-content">
                <div class="pet-details">
                  <p>
                    <strong>Pet Name:</strong>
                    <input type="text" id="edit-petName" required />
                  </p>
                  <p>
                    <strong>Pet Age:</strong>
                    <input type="number" id="edit-petAge" required />
                  </p>
                  <p>
                    <strong>Birth Date:</strong>
                    <input type="date" id="edit-birthDate" required />
                  </p>
                  <p>
                    <strong>Species:</strong>
                    <input type="text" id="edit-species" required />
                  </p>
                  <p>
                    <strong>Breed:</strong>
                    <input type="text" id="edit-breed" required />
                  </p>
                  <p>
                    <strong>Gender:</strong>
                    <select id="edit-gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </p>
                  <p>
                    <strong>Weight:</strong>
                    <input type="text" id="edit-weight" required />
                  </p>
                  <p>
                    <strong>Color:</strong>
                    <input type="text" id="edit-color" required />
                  </p>
                </div>
              </div>
              <button type="button" onclick="cancelEdit('petInfo')">
                Cancel
              </button>
              <button type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>

      <!-- View Mode for Medication -->
      <div id="viewMedicationMode">
        <div class="pet-profile-card">
          <div class="pet-info-box">
            <div class="pet-info-header">
              Pet Medication
              <img
                src="/images/edit-icon.png"
                class="edit-icon"
                onclick="editMedication()"
                alt="Edit"
              />
            </div>
            <div class="pet-info-content">
              <div class="medication-details">
                <div th:if="${#lists.isEmpty(prescribedMedications)}">
                  <p>No medications prescribed.</p>
                </div>
                <div th:if="${!#lists.isEmpty(prescribedMedications)}">
                  <ol>
                    <li th:each="medication : ${prescribedMedications}">
                      <p>
                        <strong>Name:</strong>
                        <span th:text="${medication.medicine.name}"></span>
                      </p>
                      <p>
                        <strong>Dosage:</strong>
                        <span th:text="${medication.dosage}"></span>
                      </p>
                      <p>
                        <strong>Daily Frequency:</strong>
                        <span th:text="${medication.dailyFrequency}"></span>
                      </p>
                      <p>
                        <strong>Duration:</strong>
                        <span th:text="${medication.duration}"></span>
                        days
                      </p>
                      <p>
                        <strong>Instruction:</strong>
                        <span th:text="${medication.instruction}"></span>
                      </p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Mode for Medication -->
      <div id="editMedicationMode" class="hidden">
        <form id="medicationForm" onsubmit="saveMedication(); return false;">
          <div class="pet-profile-card">
            <div class="pet-info-box">
              <div class="pet-info-header">Edit Pet Medication</div>
              <div class="pet-info-content">
                <div class="medication-picture">
                  <img src="/images/medication.jpg" alt="Medication Picture" />
                </div>
                <div class="medication-details">
                  <p>
                    <strong>Medication Name:</strong>
                    <input type="text" id="edit-medName" required />
                  </p>
                  <p>
                    <strong>Dosage:</strong>
                    <input type="text" id="edit-medDosage" required />
                  </p>
                  <p>
                    <strong>Duration:</strong>
                    <input type="text" id="edit-medDuration" required />
                  </p>
                  <p>
                    <strong>Frequency:</strong>
                    <input type="text" id="edit-medFrequency" required />
                  </p>
                  <p>
                    <strong>Time Remaining:</strong>
                    <input type="text" id="edit-timeRemaining" required />
                  </p>
                </div>
              </div>
              <button type="button" onclick="cancelEdit('medication')">
                Cancel
              </button>
              <button type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>

      <!-- View Mode for Health Concerns -->
      <div id="viewHealthConcernsMode">
        <div class="pet-profile-card">
          <div class="pet-info-box">
            <div class="pet-info-header">
              Health Concerns
              <img
                src="/images/edit-icon.png"
                class="edit-icon"
                onclick="editHealthConcerns()"
                alt="Edit"
              />
            </div>
            <div class="pet-info-content">
              <div class="pet-details">
                <p><strong>Allergies:</strong> <span id="allergies"></span></p>
                <p>
                  <strong>Existing Conditions:</strong>
                  <span id="existingConditions"></span>
                </p>
                <p>
                  <strong>Veterinarian:</strong> <span id="veterinarian"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Mode for Health Concerns -->
      <div id="editHealthConcernsMode" class="hidden">
        <form onsubmit="saveHealthConcerns(); return false;">
          <div class="pet-profile-card">
            <div class="pet-info-box">
              <div class="pet-info-header">Edit Health Concerns</div>
              <div class="pet-info-content">
                <div class="pet-details">
                  <p>
                    <strong>Allergies:</strong>
                    <input type="text" id="edit-allergies" required />
                  </p>
                  <p>
                    <strong>Existing Conditions:</strong>
                    <input type="text" id="edit-existingConditions" required />
                  </p>
                </div>
              </div>
              <button type="button" onclick="cancelEdit('healthConcerns')">
                Cancel
              </button>
              <button type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>

      <!-- View Mode for Owner's Information -->
      <div id="viewOwnerInfoMode">
        <div class="owner-profile-card">
          <div class="owner-info-box">
            <div class="owner-info-header">Owner's Information</div>
            <div class="owner-info-content">
              <div class="owner-details">
                <p>
                  <strong>Name: </strong
                  ><span
                    th:text="${pet.petOwner.user.firstName} + ' ' + ${pet.petOwner.user.lastName}"
                  ></span>
                </p>
                <p>
                  <strong>Phone: </strong
                  ><span th:text="${pet.petOwner.user.phoneNumber}"></span>
                </p>
                <p>
                  <strong>Home Address: </strong>
                  <span
                    th:text="${address.street} + ' ' + ${address.suburb} + ' ' + ${address.postcode} + ' ' + ${address.state}"
                  ></span>
                </p>
                <p>
                  <strong>Email: </strong>
                  <span th:text="${pet.petOwner.user.email}"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- View Mode for Immunisation History -->
      <div id="viewImmunisationMode">
        <div class="immunisation-profile-card">
          <div class="immunisation-info-box">
            <div class="immunisation-info-header">
              Immunisation History
              <img
                src="/images/edit-icon.png"
                class="edit-icon"
                onclick="editImmunisationHistory()"
                alt="Edit"
              />
            </div>
            <div class="immunisation-info-content">
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Vaccination</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody id="immunisationTableBody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Mode for Immunisation History -->
      <div id="editImmunisationMode" class="hidden">
        <form onsubmit="saveImmunisationHistory(); return false;">
          <div class="immunisation-profile-card">
            <div class="immunisation-info-box">
              <div class="immunisation-info-header">
                Edit Immunisation History
              </div>
              <div class="immunisation-info-content">
                <table>
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Vaccination</th>
                      <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody id="editImmunisationTableBody"></tbody>
                </table>
              </div>
              <button type="button" onclick="addNewRow()">Add New Row</button>
              <button type="button" onclick="cancelEditImmunisation()">
                Cancel
              </button>
              <button type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>

      <!-- View Mode for Surgery History -->
      <div id="viewSurgeryMode">
        <div class="surgery-profile-card">
          <div class="surgery-info-box">
            <div class="surgery-info-header">
              Surgery History
              <img
                src="/images/edit-icon.png"
                class="edit-icon"
                onclick="editSurgeryHistory()"
                alt="Edit"
              />
            </div>
            <div class="surgery-info-content">
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Surgery Type/Name</th>
                    <th>Notes</th>
                  </tr>
                </thead>
                <tbody id="surgeryTableBody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Mode for Surgery History -->
      <div id="editSurgeryMode" class="hidden">
        <form onsubmit="saveSurgeryHistory(); return false;">
          <div class="surgery-profile-card">
            <div class="surgery-info-box">
              <div class="surgery-info-header">Edit Surgery History</div>
              <div class="surgery-info-content">
                <table>
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Surgery Type/Name</th>
                      <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody id="editSurgeryTableBody"></tbody>
                </table>
              </div>
              <button type="button" onclick="addNewSurgeryRow()">
                Add New Row
              </button>
              <button type="button" onclick="cancelEditSurgery()">
                Cancel
              </button>
              <button type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
